*{
    margin: 0px;
    padding: 0px;   
}
.container .contentmap {
    width: 100%;
    height: 500px;
    box-sizing: border-box;
    padding: 20px auto;
}
.wethear{
    width: 1000px;
    margin: 0px auto;
}
.imageinfo img {
    transition: 0.4s;
    box-shadow: 3px 5px 1px grey;
}

.imageinfo img:hover {
    transform: scale(1.06);
    border: 4px solid #a29999;
    border-radius: 14px;
    box-shadow: none;
}

.imageinfo {
    text-align: center;
}


p#mota_infor {
    color: gray;
    margin-bottom: 17px;
}

.infop h5 {
    margin: 0px;
    height: 50px;
    font-size: 20px;
    color: #9a2927;
    font-weight: bold;
    font-family: sans-serif;
    text-transform: uppercase;
}
.mota {
    height: 95px;
    overflow: hidden;
}
.contect .us {
    width: 100%;
    height: 90px;
    background: #9a2927;
    color: white;
    border-left: 14px solid #333333;
    padding-left: 5px;
    padding-top: 14px;
    margin-bottom: 20px;
    font-family: heveltica;
}
.contect h4 {
    height: 50px;
    line-height: 50px;
    background: whitesmoke;
    border: 1px solid rgba(189, 181, 181, 0.41);
    /* text-align: center; */
    padding-left: 5px;
    text-transform: uppercase;
    margin: 0px;
}
.menu_right ul li a {
    text-align: center;
    padding: 0px 20px;
    text-decoration: none;
}

.menu_right ul li {
    float: left;
    list-style: none;
    height: auto;
    
}

.menu_right {
    width: 30%;
    float: left;
    height: 50px;
    line-height: 50px;
    text-align: center;
}

.nut_sing:hover {
    cursor: pointer;
}

.nut_sing {
    width: 16%;
    height: 40px;
    line-height: 40px;
    float: left;
    text-align: center;
    background: #b7ff63;
    margin-left: 3px;
    color: black;
    /* font-weight: bold; */
}

.sig span {
    color: green;
    line-height: 40px;
    float: left;
}

.sig {
    width: 100%;
    margin-top: 10px;
    height: 40px;
}
button.btn.btn-info {
    width: 37%;
    background: #89231d;
    border: none;
    height: 40px;
    line-height: 40px;
    padding: 0px;
    font-weight: bold;
}

.login form {
    padding: 5%;
}
.login {
    width: 90%;
    margin:  auto;
    min-height: 361px;
    border: 2px solid grey;
}

.login h4 {
    height: 50px;
    line-height: 50px;
    background: #881e1c;
    margin-top: 0px;
    text-align: center;
    font-size: 30px;
    color: white;
    text-transform: uppercase;
}

.info_product {
    padding: 20px;
    max-height: 164px;
    overflow: hidden;
    margin-bottom: 15px;
}
i.fa.fa-chevron-up.fa-2x {
    color: white;
}
.back_top {
    
    position: fixed;
    background: #ad3e3c;
    bottom: 20px;
    right: 20px;
    width: 40px;
    height: 40px;
    line-height: 42px;
    text-align: center;
    transition: 0.4s;
    display: none;
}

.back_top:hover {
    background: grey;
}
.show_menu{
    display: block;
}
.shop{
    position: relative;
}
.shop ul li a {
    color: grey;
}
i.fa.fa-chevron-left,i.fa.fa-chevron-right {
    position: absolute;
    top: 50%;
}
/*.list_menu{
    display: none;;
}*/
.shop ul {
    width: 136px;
    background: white;
    border: 1px solid #dedddd;
    padding: 0px 10px;
    position: absolute;
    z-index: 3;
    display: none;
    right: 8px;
}

.shop ul li {
    list-style: none;
    height: 25px;
    line-height: 25px;
    font-size: 12px;
    text-transform: uppercase;
    color: grey;
}

i.fa.fa-bars {
    width: 30px;
    height: 39px;
    line-height: 30px;
    text-align: center;
    /*position: relative;*/
    color: #afaeae;
    margin-top: 7px;
    border: 1px solid #e1e1e1;
    padding: 2px;
    box-sizing: border-box;
}

i.fa.fa-bars:hover {
    cursor: pointer;
}

.shop h4 {
    height: 40px;
    width: 40%;
    line-height: 33px;
    float: left;
    padding: 0px 5px;
    color: grey;
    text-transform: uppercase;
    font-size: 15px;
}

i.fa.fa-shopping-cart {
    width: 15%;
    height: 40px;
    line-height: 40px;
    float: left;
    color: #9a2927;
    margin-top: 3px;
}
ul.dropdown-menu {
    width: 30%;
    left: 14%;
    text-transform: uppercase;
}

button#dropdownMenu1 {
    width: 30%;
    background: #757575;
    margin-left: 10%;
    color: white;
    text-transform: uppercase;
}

.dropdown {
    width: 100% !important;
    background: #9a2927;
    padding: 10px 0px;
}

.link p {
    line-height: 30px;
    text-transform: uppercase;
}

.link i.fa.fa-home {
    float: left;
    line-height: 30px;
    padding-left: 20px;
    font-size: 20px;
    margin-right: 10px;
}

.link {
    width: 100%;
    height: 50px;
    background: white;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #dedddd;
}

.detail {
    float: left;
    width: 25%;
    margin-left: 3px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    background: #e0e0e0;
}

.detail:hover {
    cursor: pointer;
}

.add_card {
    width: 70%;
    height: 40px;
    background: #9a2927;
    float: left;
    text-align: center;
    line-height: 40px;
    color: white;
    text-transform: uppercase;
    transition: 0.4s;
    font-weight: bold;
}

.add_card:hover {
    background: black;
}

.add_card:hover {
    cursor: pointer;
}

.button {
    height: 50px;
    margin: 0 auto;
}

.item_new {
    border-right: 1px solid #dedddd;
    height: 475px;
    overflow: hidden;
    border-bottom: 1px solid #dedddd;
}
.alll{
    border:none;
}
.item_all {
    border: 1px solid #dedddd;
    margin-bottom: 20px;
    /* margin-right: 0px; */
    border: 1px solid #dedddd;
}

.item_new span {
    text-align: center;
    color: black;
    font-weight: bold;
    text-transform: uppercase;
}

.image {
    width: 155px;
    height: 155px;
    margin: 0 auto;
    margin-bottom: 16px;
}
img.image_new {
    width: 155px;
    /* margin: 20px 0px; */
    height: 155px;
    /* margin: 20px 0px; */
    /* margin-left: 11px; */
    vertical-align: middle;
    transition: 0.4s;
}

.image_new:hover {
    transform: scale(1.1);
    /* transition: all 500s cubic-bezier(0.32, 0.19, 0.33, 1.25); */
    opacity: 1;
}


.item_new h5 {
    color: #9a2927;
    text-transform: uppercase;
    height: 50px;
    line-height: 1.5em;
    text-align: left;
    font-size: 14px;
    font-family: sans-serif;
    text-align: center;
}

.new_product h4 {
    margin-top: 0px;
    height: 50px;
    line-height: 50px;
    text-transform: uppercase;
    color: grey;
    background: #f5f5f5;
    padding-left: 14px;
    font-weight: bold;
    margin-bottom: 0px;
}
.new_product {
    min-height: 319px;
    border: 1px solid #dedddd;
    background: white;
        margin-bottom: 20px;
}

.container .right_content {
    width: 75%;
    float: left;
    /* background: #d9e3e6; */
    padding-left: 20px;
    box-sizing: border-box;
}

.item_content {
    width: 80%;
    height: auto;
    padding-left: 28px;
    float: left;
    color: #9a2927;
}

.item_product img {
    width: 20%;
    float: left;
}

.item_product {
    width: 100%;
    min-height: 121px;
    padding: 10px;
    margin-bottom: 1px;
    border-bottom: 1px solid #e6dddd;
}

.menu_left_bottom h4 {
    height: 50px;
    line-height: 50px;
    text-align: center;
    background: #f5f5f5;
    font-weight: bold;
    text-transform: uppercase;
    border-bottom: 4px solid #f7ecec;
    color: grey;
    margin-top: 0px;
}

.menu_left_bottom {
    width: 100%;
    min-height: 200px;
    background: white;
    border: 1px solid #e6dddd;
    border-bottom: none;
    margin-top: 20px;
}

.row {
    padding: 0px 15px;
    /* background: white; */
    margin-top: 20px;
}

.rules {
    width: 100%;
    height: 50px;
    margin-top: 50px;
    margin-left: 0px;
    padding-left: 0px;
    color:grey;
}

.colu ul li a {
    color: grey;
}

.colu p {
    font-weight: bold;
}

.info {
    /* border-bottom: 1px solid; */
    box-sizing: border-box;
    text-transform: uppercase;
    color: grey;
    padding-top: 30px;
}

.footer {
    width: 100%;
    min-height: 300px;
}

.colu {
    height: 200px;
    padding: 20px;
    border-left: 1px solid #dcdada;
}

.colu ul li {
    list-style: none;
    width: 100%;
    height: 26px;
    line-height: 26px;
    font-size: 12px;
}

.menu_sub li a {
    text-decoration: none;
    color: grey;
}

.menu_sub li a:hover {
    color: #9a2927;
}

ul.menu_sub {
    border-left: 3px solid #9a2927;
    padding: 9px;
    box-sizing: border-box;
    background: white;
    border-bottom: 1px solid #dedddd;
    border-right: 1px solid #dedddd;
    display:none;
}

.menu_sub li {
    list-style: none;
    height: 35px;
    padding-left: 21px;
    transition: 0.4s;
    text-transform: uppercase;
}

.menu_left_top ul li:hover {
    color: #992926;
}

menu_left_top ul.menu_sub {
    width: 100%;
    height: auto;
    display: none;
}



.menu_left_level1 .title {
    width: 100%;
    height: 50px;
    float: left;
    /* background: blue; */
    position: absolute;
    z-index: 1;
}

i.fa.fa-angle-double-right {
    /* float: right; */
    height: 50px;
    line-height: 50px;
    width: 20px;
    text-align: center;
    transition: 0.4s;
    position: absolute;
    right: 0px;
    z-index: 2;
    color: gold;
}

i.fa.fa-angle-double-right:hover{
    background: #9a2927;
    color: white;
}

.menu_left_level1 .title p {
    float: left;
    height: 50px;
    padding-left: 14px;
    line-height: 50px;
    text-transform: uppercase;
    margin-left: 8px;
    border-left: 4px solid #9a2927;
    transition: 0.4s;
    font-family: arial;
    font-weight: bold;
    box-sizing: border-box;
}
.title:hover {
    background:#9a2927;

    
}
.title:hover p{
    border-left: 4px solid white;
    color:white;
}

.head{
    font-family: sans-serif,helvetica;
    width: 100%;
    height: auto;
}
.head .menu{
    width: 100%;
    height: 50px;
    background: #980026; 
}
.menu_left{
    width: 60%;
    height: 50px;
    float: left;
}
.menu_left ul{
    width: 100%;
    height: 50px;
}
.menu_left ul li{
    width: auto;
    height: 50px;
    float: left;
    list-style: none;
    text-align: center;
    transition: 0.5s;
    box-sizing: border-box;
    padding: 0px 10px;
}
.menu_left ul li a{
    line-height: 50px;
    color: white;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    text-decoration: none;
}
.menu_left ul li:hover{
    border-top:4px solid white;
}
.menu_left ul li:active{
    border-top:4px solid white;
}
.head .banner{
    width: 100%;
    height: auto;
}

/*banner*/
.banner{
    width: 100%;
    height: 100px;
    padding: 20px 0px;
}
#img_moto{
    float: left;
    line-height: 56px;
    /*margin-top: 12px;*/
}
.col-md-4 h3{
    float: left;
    margin-left: 7px;
    font-family: arial;
    font-size: 30px;
    color: #980026;
    line-height: 20px;
    font-weight: bold;
}
.col-md-3{
    padding: 5px;
}
/*content*/
.content{
    padding: 30px 0px;
    width: 100%;
    min-height: 800px;
    background: linear-gradient(to bottom, #ececec 0%, white 9%, white 90%, #ececec 100%);
}
.row form{
    line-height: 50px;
}
.row .input_css{
    margin: 0px;
    float: left;
    width: 275px;
    display: inline-block;
    height: 40px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid #e1e1e1;
    background: none;
    box-shadow: none;
    border-right: none;
    border-radius: 0;
    text-align: center;
}
.butn_search{
    margin-top: 6px;
    float: right;
    position: relative;
    background-color: #980026;
    padding: 9px 13px;
    width: 21%;
    border: 0;
    color: #ffffff;
    text-transform: uppercase;
    font: 700 14px/22px "PT Sans Narrow", sans-serif;
    -moz-transition: all 0.4s ease 0s;
    -webkit-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
}

.container .menu_left_content{
    width: 25%;
    height: auto;
    float: left;
    background: linear-ga;
}
.menu_left_content .menu_left_level1{
    width: 100%;
    height: 50px;
    background: white;
    transition: 0.4s;
    border: 1px solid #dedddd;
    margin-top: 3px;
    position: relative;
}
.selected{
    border-top:4px solid white;
}
.link a {
    color: grey;
}